# VS Code: incluir solo settings.json (para FVM)
.vscode/*
!.vscode/settings.json
# (Opcional) comparte también recomendaciones de extensiones
!.vscode/extensions.json

# Android caches y varios
**/.gradle/
android/.gradle/
android/captures/
# Si usas Google Services y no quieres publicarlos:
**/google-services.json

# iOS / CocoaPods / Flutter generados
ios/Pods/
ios/.symlinks/
ios/Flutter/Flutter.podspec
ios/Flutter/Generated.xcconfig
ios/Flutter/flutter_export_environment.sh
# Si no quieres publicarlo:
**/GoogleService-Info.plist

# Linux/Windows/Mac ephemeral de Flutter
linux/flutter/ephemeral/
windows/flutter/ephemeral/
macos/Flutter/ephemeral/

# Tests/coverage
coverage/
